<!DOCTYPE html>{#定义文档类型#}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1><i>你是谁</i></h1>
    <table border="1">
        <thead>
        <tr>
            <th>姓名</th>
            <th>学号</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>李磊</td>
                <td>435633</td>
            </tr>
        </tbody>
    </table>
    <form action="">
            姓名：<input type="text",name="username"><br/>
            <input type="submit" value="登录">
    </form>
</body>
</html>
<!--
1.超文本标记语言(由标签和内容组成)
<标签 属性>：文本标签、格式化标签（换行换段）
标签：div、表格、表单
属性：id='xxxxx'

-->